* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    min-height: 100vh;
    --form-width: 400px;
    --form-height: 500px;
}

header {
    background-color: #ffffff;
    color: rgb(3, 154, 255);
    text-align: center;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    height: 10vh;
}

#popup-form {
    display: none;
    position: fixed;
    width: var(--form-width);
    height: var(--form-height);
    margin-left: calc(0px - var(--form-width) / 2);
    margin-top: calc(0px - var(--form-height) / 2);
    top: 50%;
    left: 50%;
    right: 50%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
}

.form-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.form-header {
    font-size: 24px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.form-header #close-form {
    position: absolute;
    background-color: transparent;
    top: 0px;
    right: 0px;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    border: none;
    color: #333;
}

.form-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 80%;
    justify-content: space-evenly;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
}

.radio-fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#radio-container {
    display: flex;
    gap: 20px;
}

#radio-container fieldset {
    display: flex;  
    flex-direction: row;
    gap: 4px;
}


.book-list {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
    flex-wrap: wrap;
    overflow: hidden;
}


.book-card-template {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    height: 300px;
    background-color: #313131;
    color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.book-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.remove-book, .toggle-read-status {
    background-color:#f4f4f4;
    border-radius: 4px;
    border: none;
    color: rgb(54, 54, 54);
    cursor: pointer;
    padding: 1px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    background-color: #ffffff;
    height: 10vh;
    text-align: center;
}